<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cs744</display-name>
  <servlet>
    <servlet-name>SetQuestion</servlet-name>
    <servlet-class>com.servlet.SetQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnsQuestion</servlet-name>
    <servlet-class>com.servlet.AnsQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addNode</servlet-name>
    <servlet-class>com.servlet.addNode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addConnector</servlet-name>
    <servlet-class>com.servlet.addConnector</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteNode</servlet-name>
    <servlet-class>com.servlet.deleteNode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sendMessage</servlet-name>
    <servlet-class>com.servlet.sendMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showMessage</servlet-name>
    <servlet-class>com.servlet.showMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>generateRandom</servlet-name>
    <servlet-class>com.servlet.generateRandom</servlet-class>
     <async-supported>true</async-supported> 
  </servlet>
  <servlet>
    <servlet-name>activateNode</servlet-name>
    <servlet-class>com.servlet.activateNode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>inactivateNode</servlet-name>
    <servlet-class>com.servlet.inactivateNode</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>addQuestion</servlet-name>
    <servlet-class>com.servlet.addQuestion</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>storeMessage</servlet-name>
    <servlet-class>com.servlet.storeMessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkMessage</servlet-name>
    <servlet-class>com.servlet.checkMessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>receivedMessage</servlet-name>
    <servlet-class>com.servlet.receivedMessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>changeQuestion</servlet-name>
    <servlet-class>com.servlet.changeQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getNodes</servlet-name>
    <servlet-class>com.servlet.getNodes</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addDomain</servlet-name>
    <servlet-class>com.servlet.addDomain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>blockedSession</servlet-name>
    <servlet-class>com.servlet.blockedSession</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showCforD</servlet-name>
    <servlet-class>com.servlet.showCforD</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showNforC</servlet-name>
    <servlet-class>com.servlet.showNforC</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteEdge</servlet-name>
    <servlet-class>com.servlet.deleteEdge</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>searchConnectedNode</servlet-name>
    <servlet-class>com.servlet.searchConnectedNode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>searchNonconnectedForPattern</servlet-name>
    <servlet-class>com.servlet.searchNonconnectedForPattern</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getAllActiveNodes</servlet-name>
    <servlet-class>com.servlet.getAllAactiveNodes</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>speedSession</servlet-name>
    <servlet-class>com.servlet.speedSession</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addEdge</servlet-name>
    <servlet-class>com.servlet.addEdge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchNonConnectedNode</servlet-name>
    <servlet-class>com.servlet.searchNonConnectedNode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showQuesAndAns</servlet-name>
    <servlet-class>com.servlet.showQuesAndAns</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>com.servlet.addUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showAllUser</servlet-name>
    <servlet-class>com.servlet.showAllUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.servlet.deleteUser</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>addConnector</servlet-name>
    <url-pattern>/addConnector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addNode</servlet-name>
    <url-pattern>/addNode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetQuestion</servlet-name>
    <url-pattern>/setQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnsQuestion</servlet-name>
    <url-pattern>/ansQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteNode</servlet-name>
    <url-pattern>/deleteNode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendMessage</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showMessage</servlet-name>
    <url-pattern>/showMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>generateRandom</servlet-name>
    <url-pattern>/generateRandom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>activateNode</servlet-name>
    <url-pattern>/activateNode</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>inactivateNode</servlet-name>
    <url-pattern>/inactivateNode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addQuestion</servlet-name>
    <url-pattern>/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>storeMessage</servlet-name>
    <url-pattern>/storeMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkMessage</servlet-name>
    <url-pattern>/checkMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>receivedMessage</servlet-name>
    <url-pattern>/receivedMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeQuestion</servlet-name>
    <url-pattern>/changeQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getNodes</servlet-name>
    <url-pattern>/getNodes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addDomain</servlet-name>
    <url-pattern>/addDomain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blockedSession</servlet-name>
    <url-pattern>/blockedSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showCforD</servlet-name>
    <url-pattern>/showCforD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showNforC</servlet-name>
    <url-pattern>/showNforC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteEdge</servlet-name>
    <url-pattern>/deleteEdge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchConnectedNode</servlet-name>
    <url-pattern>/searchConnectedNode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchNonconnectedForPattern</servlet-name>
    <url-pattern>/searchNonconnectedForPattern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAllActiveNodes</servlet-name>
    <url-pattern>/getAllActiveNodes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>speedSession</servlet-name>
    <url-pattern>/speedSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addEdge</servlet-name>
    <url-pattern>/addEdge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchNonConnectedNode</servlet-name>
    <url-pattern>/searchNonConnectedNode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showQuesAndAns</servlet-name>
    <url-pattern>/showQuesAndAns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showAllUser</servlet-name>
    <url-pattern>/showAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
</web-app>